@charset "utf-8";
/* CSS Document */
body,a,div,i,em,ul,ol,li,span,dl,dt,dd,td,tr,b,br,img,strong,p,form,input,textarea,text,table,submit,hr,table{ 
	padding:0; 
	margin:0;
}
body{ 
	font-size:14px; 
	font-family:'微软雅黑';
}
li{ 
	list-style-type:none;
}
img{ 
	vertical-align:top; 
	border:0 none;
}
a{ 
	text-decoration:none;
}
input,textarea{ 
	outline:none; 
	border:0 none;
}
em,i{ 
	font-style:normal; 
	display:block;
}

