@charset "utf-8";
/* CSS Document */
body, a, div, i, em, ul, ol, li, span, dl, dt, dd, td, tr, b, br, img,
	strong, p, form, input, textarea, text, table, submit, hr, table {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
	font-family: '微软雅黑';
}

li {
	list-style-type: none;
}

img {
	vertical-align: top;
	border: 0 none;
}

a {
	text-decoration: none;
}

input, textarea {
	outline: none;
	border: 0 none;
}

em, i {
	font-style: normal;
	display: block;
}

.subject {
	overflow: hidden;
	width: 1000px;
	margin: 30px auto 230px auto;
}

.subject_left {
	float: left;
	width: 180px;
	background: #f2f2f2;
	padding-top: 15px;
	height: 290px;
}

.subject_left em {
	height: 34px;
	line-height: 34px;
	padding: 0 12px;
	font-size: 12px;
	color: #0b6abd;
	cursor: pointer;
}

.subject_left .subject_current {
	background-color: #4f96d3;
	background-image: url(../img/game_2.png);
	background-repeat: no-repeat;
	background-position: 154px center;
	color: #fff;
}

.subject_right {
	float: right;
	width: 800px;
}

.subject_right table { /* border-color:#d8d8d8;*/
	letter-spacing: 1px;
}

.subject_right table th {
	font-size: 16px;
	border: 1px solid #d8d8d8;
	border-right: 0;
}

.subject_right table tr th.regtime {
	width: 150px;
}

.subject_right table td {
	vertical-align: middle;
	text-align: center;
	color: #4f4f4f;
	font-size: 15px;
	border: 1px solid #d8d8d8;
	border-top: 0;
	border-right: 0;
}

.subject_right table .right_border {
	border-right: 1px solid #d8d8d8;
}

.chooseBTN {
	background: url(../img/denglu_7.png) no-repeat;
	border: 0;
	margin: 5px auto 5px auto;
	padding: 0;
	width: 50px;
	height: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
}

.chooseBTN {
	background-image: url(../img/denglu_7_2.png);
}

.choose2BTN {
	background: url(../img/denglu_no.png) no-repeat;
	border: 0;
	margin: 5px auto 5px auto;
	padding: 0;
	width: 50px;
	height: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
}

.choose2BTN {
	background-image: url(../img/denglu_no_2.png);
}