@charset "utf-8";
/* CSS Document */
body, a, div, i, em, ul, ol, li, span, dl, dt, dd, td, tr, b, br, img,
	strong, p, form, input, textarea, text, table, submit, hr {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
	font-family: '微软雅黑';
}

li {
	list-style-type: none;
}

img {
	vertical-align: top;
	border: 0 none;
}
#emUserPicture {
	height: 80px ;
	width: 80px ;
}
a {
	text-decoration: none;
}

input, textarea {
	outline: none;
	border: 0 none;
}

em, i {
	font-style: normal;
	display: block;
}

.subject {
	border: 1px #ebebeb solid;
	width: 998px;
	height: 592px;
	margin: 20px auto;
	padding: 0 auto;
}

.subject_left {
	float: left;
	border-right: 1px #ebebeb solid;
	width: 180px;
	height: 100%
}

.subject_1 {
	overflow: hidden;
	border-bottom: 1px #ebebeb solid;
}

.subject_1 img {
	float: left;
	padding: 15px;
}

.subject_1 em {
	float: left;
	text-align: center;
	font-size: 14px;
	color: #595959;
	padding: 15px 0;
	line-height: 40px;
}

.subject_1 em input {
	background: url(/micromatch/img/person_2.png) no-repeat;
	cursor: pointer;
	width: 18px;
	height: 18px;
}

.subject_2 {
	margin-top: 20px;
}

.subject_2 li {
	line-height: 40px;
}

.subject_2 li a {
	padding-left: 12px;
	color: #595959;
	font-size: 12px;
	display: block;
}
.courseminiPic {
	width: 230px ;
	height: 130px ;
}
.subject_2 .subject_current {
	background: #4f96d3;
}

.subject_2 .subject_current a {
	color: #fff;
	background: url(/micromatch/img/person_3.png) no-repeat 155px center;
}

.subject_right {
	float: right;
	width: 770px;
}
.right2 {
	height: 540px ;
}
#upPicBody {
	margin-top:30px ;
}
.subject_right ul {
	overflow: hidden;
}

.subject_right ul li {
	float: left;
	border: 1px solid #e0e0e0;
	width: 233px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	background: #fff;
}

.main_1_a1 {
	color: #666666;
	padding-left: 15px;
	height: 40px;
	line-height: 40px;
}

.subject_right ul li p {
	font-family: '宋体';
	font-size: 12px;
	color: #666666;
	padding-left: 15px;
	padding-right: 10px;
	line-height: 18px;
	display: none;
}

.subject_right ul li em {
	overflow: hidden;
	padding-left: 15px;
	padding-right: 12px;
	font-size: 12px;
	font-family: '宋体';
	color: #808080;
	margin-top: 9px
}

.subject_right ul li em i {
	padding-left: 25px;
	height: 22px;
	line-height: 22px;
}

.subject_right ul li em .i1 {
	background: url(/micromatch/img/index_14.jpg) no-repeat left center;
	float: left;
}

.subject_right ul li em .i2 {
	background: url(/micromatch/img/index_17.png) no-repeat 1px center;
	float: left;
}

.subject_right ul li em .i3 {
	float: right;
}

.subject_r_1 {
	overflow: hidden;
	border-bottom: #ebebeb 1px solid;
	margin: 20px 28px 20px 0;
}

.subject_r_1 em {
	float: left;
	width: 78px;
	text-align: center;
	font-size: 12px;
	color: #595959;
	line-height: 40px;
	cursor: pointer;
}

.em_current {
	border-bottom: 1px solid #4f96d3;
}

.showResult {
	margin-top: 100px;
	font-size: 36px;
	font-family: '微软雅黑';
	color: #c0c0c0;
	position: fixd;
}

.pic {
	width: 402px;
	height: 252px;
	background: url(/micromatch/img/new_game_bg.png) no-repeat;
	margin: 0 auto;
	text-align: center;
	line-height: 300px;
}

.newPic {
	width: 380px;
	height: 230px;
	display: none;
	margin: 10px auto;
	text-align: center;
	line-height: 300px;
}

.pic_button {
	float: center;
	width: 205px;
	margin: 20px auto;
}

.pic_button {
	display: inline;
}

.subject_button {
	margin-top: 20px;
	margin-left: 340px;
	background: url(/micromatch/img/new_game_bt.png) no-repeat;
	width: 205px;
	padding-right: 29px;
	height: 52px;
	line-height: 52px;
	text-align: right;
	cursor: pointer;
	font-size: 24px;
	color: #fff;
}

.submitBTN {
	float: right;
	background: url(/micromatch/img/new_game_bt2.png) no-repeat;
	width: 98px;
	height: 95px;
	cursor: pointer;
}
/*2015-7-8*/
.select_pic{
	margin: 0 auto;
	text-align: center;
	margin-top:50px;
	margin-bottom:20px;
}
.select_pic_btn{
	background: url(/micromatch/img/new_game_match_bt.png) no-repeat;
	width: 152px;
	padding-right: 18px;
	height: 37px;
	line-height: 21px;
	text-align: right;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
}
.select_pic_note{
	display:block;
	font-size:14px;
	color:#999999;
	margin-top:5px;
}
.select_pic_note:hover{
	color:#999999;
}
.confirm_btn{
	width:120px;
	height:35px;
	background:url(/micromatch/img/select_15.png) no-repeat;
	font-size:18px;
	color:#fff;
	margin-top:20px;
	margin-left:270px;
}
.cancel_btn{
	width:120px;
	height:35px;
	background:url(/micromatch/img/select_16.png) no-repeat;
	font-size:18px;
	color:#323232;
	margin-top:20px;
	margin-left:100px;
}
.sl-custom-file{
	position:relative;
	display:inline-block;
	zoom:1;
	cursor:pointer;
	overflow:hidden;
	vertical-align:middle;
}
.sl-custom-file .ui-input-file{
	position:absolute;
	right:0;
	top:0;
	_zoom:30;
	font-size:300px\9;
	height:100%;
	_height:auto;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	cursor:pointer;
}