<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BoguCloudCourse</display-name>
  <servlet>
    <description>对登录用户进行判定并返回判定结果</description>
    <display-name>用户登录</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Bogu.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>课程上传服务</description>
    <display-name>文件上传</display-name>
    <servlet-name>ChapterFileUploadServlet</servlet-name>
    <servlet-class>Bogu.Servlet.ChapterFileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>用户输入个人信息并向服务器提交注册申请</description>
    <display-name>用户注册</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>Bogu.Servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>用户在网页中点击附件名字获得下载许可</description>
    <display-name>附件下载</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>Bogu.Servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>用户在网页中上传课程需要的附件</description>
    <display-name>课程附件上传</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>Bogu.Servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>教师创建课程并向服务器写入数据</description>
    <display-name>创建课程</display-name>
    <servlet-name>CreateCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.CreateCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据发布评论的位置（课程或章节）保存数据</description>
    <display-name>发布评论</display-name>
    <servlet-name>PublishCommentServlet</servlet-name>
    <servlet-class>Bogu.Servlet.PublishCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过用户Num去遍历自己创建的课程列表</description>
    <display-name>遍历自己创建的课程</display-name>
    <servlet-name>QueryCourseByUserNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryCourseByUserNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过课程编号遍历课程中下属的所有章节</description>
    <display-name>遍历课程当中的全部章节</display-name>
    <servlet-name>QueryChapterByCourseNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryChapterByCourseNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过附件ID删除附件</description>
    <display-name>删除附件</display-name>
    <servlet-name>DeleteAccessoryServlet</servlet-name>
    <servlet-class>Bogu.Servlet.DeleteAccessoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过目标类型和目标Num遍历评论</description>
    <display-name>遍历评论</display-name>
    <servlet-name>QueryCommentByObjectTypeAndNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryCommentByObjectTypeAndNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过目标类型和目标Num遍历附件</description>
    <display-name>遍历附件</display-name>
    <servlet-name>QueryAccessoryByObjectTypeAndNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryAccessoryByObjectTypeAndNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>用户观看课程并查看是否已经观看，若无则进行计数</description>
    <display-name>观看课程并计数</display-name>
    <servlet-name>AudienceCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.AudienceCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过课程Num查找并显示课程详情</description>
    <display-name>显示课程详情</display-name>
    <servlet-name>QueryCourseByCourseNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryCourseByCourseNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>更改课程内容</description>
    <display-name>更改课程</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>增加章节内容</description>
    <display-name>新增章节</display-name>
    <servlet-name>AddChapterServlet</servlet-name>
    <servlet-class>Bogu.Servlet.AddChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>学校以上用户发布比赛信息</description>
    <display-name>发布比赛</display-name>
    <servlet-name>PublishMatchServlet</servlet-name>
    <servlet-class>Bogu.Servlet.PublishMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过用户Num遍历创建的比赛</description>
    <display-name>遍历比赛</display-name>
    <servlet-name>QueryMatchByUserNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryMatchByUserNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过比赛Num查看比赛详情</description>
    <display-name>比赛详情</display-name>
    <servlet-name>QueryMatchByMatchNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryMatchByMatchNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输入比赛关键字修改比赛</description>
    <display-name>修改比赛</display-name>
    <servlet-name>UpdateMatchServlet</servlet-name>
    <servlet-class>Bogu.Servlet.UpdateMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>提交比赛Num和课程Num报名超赛</description>
    <display-name>报名参赛</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>Bogu.Servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>提交比赛Num并新增奖项</description>
    <display-name>新增奖项</display-name>
    <servlet-name>AddNewAwardServlet</servlet-name>
    <servlet-class>Bogu.Servlet.AddNewAwardServlet</servlet-class>
  </servlet>
  <servlet>
    <description>办法奖项给指定的CourseNum</description>
    <display-name>办法奖项</display-name>
    <servlet-name>GivenAwardServlet</servlet-name>
    <servlet-class>Bogu.Servlet.GivenAwardServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输入比赛Num结束比赛</description>
    <display-name>结束比赛</display-name>
    <servlet-name>StopMatchServlet</servlet-name>
    <servlet-class>Bogu.Servlet.StopMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>学生用户订阅课程</description>
    <display-name>订阅课程</display-name>
    <servlet-name>AttendCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.AttendCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>删除学生用户订阅课程记录</description>
    <display-name>删除订阅</display-name>
    <servlet-name>DeleteAttendCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.DeleteAttendCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输入课程Num，比赛Num，用户Num和分数Poll</description>
    <display-name>对比赛中的课程投票</display-name>
    <servlet-name>PollVoteServlet</servlet-name>
    <servlet-class>Bogu.Servlet.PollVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输入比赛Num输出所有参赛者</description>
    <display-name>查看比赛的所有参赛者</display-name>
    <servlet-name>QueryRegisterByMatchNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryRegisterByMatchNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>学生进入系统直接查看所有课程</description>
    <display-name>查看所有课程</display-name>
    <servlet-name>QueryAllCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryAllCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>带着课程Num和比赛Num报名参赛</description>
    <display-name>报名参赛</display-name>
    <servlet-name>QueryAllMatchesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryAllMatchesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>获得上传的章节视频</description>
    <display-name>章节视频上传</display-name>
    <servlet-name>UploadVideoServlet</servlet-name>
    <servlet-class>Bogu.Servlet.UploadVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过章节Num查看章节详情</description>
    <display-name>查看章节详情</display-name>
    <servlet-name>QueryChapterByChapterNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryChapterByChapterNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过ObjectNum和ObjectType遍历可以下载附件</description>
    <display-name>遍历可以下载的附件</display-name>
    <servlet-name>QueryDownloadServert</servlet-name>
    <servlet-class>Bogu.Servlet.QueryDownloadServert</servlet-class>
  </servlet>
  <servlet>
    <description>通过MatchNum查找Award和Course</description>
    <display-name>查看比赛的奖项及获奖课程</display-name>
    <servlet-name>QueryMatchAwardServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryMatchAwardServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过CourseNum查找本已经报名的比赛</description>
    <display-name>查看本课程已经报名报赛的比赛</display-name>
    <servlet-name>QueryAlreadyRegisterMatchesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryAlreadyRegisterMatchesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过CourseNum通过课程的审核</description>
    <display-name>审核课程</display-name>
    <servlet-name>CheckCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.CheckCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过ChapterNum通过章节的审核</description>
    <display-name>审核章节</display-name>
    <servlet-name>CheckChapterServlet</servlet-name>
    <servlet-class>Bogu.Servlet.CheckChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过MatchNum通过比赛的审核</description>
    <display-name>审核比赛</display-name>
    <servlet-name>CheckMatchServlet</servlet-name>
    <servlet-class>Bogu.Servlet.CheckMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>查看所有未审核课程</description>
    <display-name>遍历未审核的课程</display-name>
    <servlet-name>QueryUnCheckedCoursesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUnCheckedCoursesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>查看所有未审核比赛</description>
    <display-name>遍历未审核的比赛</display-name>
    <servlet-name>QueryUnCheckedMatchesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUnCheckedMatchesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>查看所有未审核章节视频</description>
    <display-name>遍历未审核的章节视频</display-name>
    <servlet-name>QueryUnCheckedChaptersServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUnCheckedChaptersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>管理员用户能够对所有用户进行类别修改</description>
    <display-name>更改用户所属类别</display-name>
    <servlet-name>ChangeUserTypeServlet</servlet-name>
    <servlet-class>Bogu.Servlet.ChangeUserTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>遍历并显示所有的用户</description>
    <display-name>查看所有用户</display-name>
    <servlet-name>QueryAllUserServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过ObjectType和ObjectNum遍历所有可以下载的附件</description>
    <display-name>遍历所有可以下载的附件</display-name>
    <servlet-name>ListAccessoryServlet</servlet-name>
    <servlet-class>Bogu.Servlet.ListAccessoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据用户名中指定字符查找用户</description>
    <display-name>模糊查找用户</display-name>
    <servlet-name>QueryUnsureUserServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUnsureUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据课程名中指定字符查找课程</description>
    <display-name>模糊查找课程</display-name>
    <servlet-name>QueryUnsureCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUnsureCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据比赛名中指定字符查找比赛</description>
    <display-name>模糊查找比赛</display-name>
    <servlet-name>QueryUnsureMatchServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUnsureMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>查看个人订阅的课程</description>
    <display-name>查看个人订阅的课程</display-name>
    <servlet-name>ShowMyAttendsServlet</servlet-name>
    <servlet-class>Bogu.Servlet.ShowMyAttendsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据课程中被选中的章节返回信息</description>
    <display-name>显示被选中的章节</display-name>
    <servlet-name>showChooseChapterServlet</servlet-name>
    <servlet-class>Bogu.Servlet.showChooseChapterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>注销自己的登录信息</description>
    <display-name>注销登录</display-name>
    <servlet-name>logOutServlet</servlet-name>
    <servlet-class>Bogu.Servlet.logOutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过用户Num和课程Num查看是否已经订阅</description>
    <display-name>查看是否已经订阅</display-name>
    <servlet-name>haveAttendedServlet</servlet-name>
    <servlet-class>Bogu.Servlet.haveAttendedServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过学科分类查找课程</description>
    <display-name>通过学科分类查找课程</display-name>
    <servlet-name>QueryCourseBySubServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryCourseBySubServlet</servlet-class>
  </servlet>
  <servlet>
    <description>展示所有学科分类</description>
    <display-name>展示所有学科分类</display-name>
    <servlet-name>ShowAllSubjectsServlet</servlet-name>
    <servlet-class>Bogu.Servlet.ShowAllSubjectsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据SubName查找课程</description>
    <display-name>根据学科名称查找课程</display-name>
    <servlet-name>QueryCourseBySubNameServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryCourseBySubNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>显示首页的学科分类</description>
    <display-name>显示首页的学科分类</display-name>
    <servlet-name>showIndexSubjectServlet</servlet-name>
    <servlet-class>Bogu.Servlet.showIndexSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>uploadify临时上传</description>
    <display-name>uploadify临时上传</display-name>
    <servlet-name>temporaryUploadifyServlet</servlet-name>
    <servlet-class>Bogu.Servlet.temporaryUploadifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>保存附件</description>
    <display-name>保存附件</display-name>
    <servlet-name>saveAccessoryServlet</servlet-name>
    <servlet-class>Bogu.Servlet.saveAccessoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过用户Num判断这篇课程是否是作者本人创建</description>
    <display-name>判断是否是本人创建的课程</display-name>
    <servlet-name>isMyCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.isMyCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>通过父学科的ID查找子学科</description>
    <display-name>显示子学科</display-name>
    <servlet-name>showChildSubjectServlet</servlet-name>
    <servlet-class>Bogu.Servlet.showChildSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据用户Num和头像src更新用户头像数据</description>
    <display-name>更新用户头像</display-name>
    <servlet-name>updateUserPicServlet</servlet-name>
    <servlet-class>Bogu.Servlet.updateUserPicServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据评论ID查找回复的评论，其中json[0]ReplyNum为回复数量</description>
    <display-name>显示回复信息</display-name>
    <servlet-name>showReplyServlet</servlet-name>
    <servlet-class>Bogu.Servlet.showReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据用户Num和头像src更新用户头像数据</description>
    <display-name>查询用户详情</display-name>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <servlet-class>Bogu.Servlet.QueryUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据UserNum、</description>
    <display-name>判定是否为本人创建的比赛</display-name>
    <servlet-name>isMyMatchServlet</servlet-name>
    <servlet-class>Bogu.Servlet.isMyMatchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据比赛ID查询比赛</description>
    <display-name>查询比赛</display-name>
    <servlet-name>queryAwardByIdServlet</servlet-name>
    <servlet-class>Bogu.Servlet.queryAwardByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据需要显示的数量搜索热门课程</description>
    <display-name>显示热门课程</display-name>
    <servlet-name>showHotCourseServlet</servlet-name>
    <servlet-class>Bogu.Servlet.showHotCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据前端传送的数量显示相应数量最新的比赛</description>
    <display-name>搜索最新的比赛</display-name>
    <servlet-name>queryTheNewestMatchesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.queryTheNewestMatchesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>显示观看人数最多的课程</description>
    <display-name>搜索热门课程</display-name>
    <servlet-name>queryPopularCoursesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.queryPopularCoursesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>按照创建时间显示最新的课程</description>
    <display-name>搜索最新的课程</display-name>
    <servlet-name>queryNewestCoursesServlet</servlet-name>
    <servlet-class>Bogu.Servlet.queryNewestCoursesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>根据比赛的阶段代码</description>
    <display-name>根据比赛的阶段代码查找比赛</display-name>
    <servlet-name>queryMatchByMatchTempServlet</servlet-name>
    <servlet-class>Bogu.Servlet.queryMatchByMatchTempServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输入用户Num比赛Num课程Num；输出boolean结果</description>
    <display-name>判断用户是否已经投票</display-name>
    <servlet-name>isPollVoteServlet</servlet-name>
    <servlet-class>Bogu.Servlet.isPollVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>输入课程Num输出课程历史获奖jsonArray</description>
    <display-name>查询课程的历史获奖记录</display-name>
    <servlet-name>queryHistoryAwardByCourseNumServlet</servlet-name>
    <servlet-class>Bogu.Servlet.queryHistoryAwardByCourseNumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>获取比赛的封面图片并保存到本地</description>
    <display-name>上传比赛的封面图片</display-name>
    <servlet-name>uploadMatchImgServlet</servlet-name>
    <servlet-class>Bogu.Servlet.uploadMatchImgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>获取课程的封面图片并保存到本地</description>
    <display-name>上传课程的封面图片</display-name>
    <servlet-name>uploadCourseImgServlet</servlet-name>
    <servlet-class>Bogu.Servlet.uploadCourseImgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>获取请求，并生成验证码</description>
    <display-name>生成验证码</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>Bogu.Servlet.VerifyCodeServlet</servlet-class>
  </servlet>









































  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChapterFileUploadServlet</servlet-name>
    <url-pattern>/servlet/ChapterFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/servlet/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/servlet/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCourseServlet</servlet-name>
    <url-pattern>/servlet/CreateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishCommentServlet</servlet-name>
    <url-pattern>/servlet/PublishCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCourseByUserNumServlet</servlet-name>
    <url-pattern>/servlet/QueryCourseByUserNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryChapterByCourseNumServlet</servlet-name>
    <url-pattern>/servlet/QueryChapterByCourseNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAccessoryServlet</servlet-name>
    <url-pattern>/servlet/DeleteAccessoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCommentByObjectTypeAndNumServlet</servlet-name>
    <url-pattern>/servlet/QueryCommentByObjectTypeAndNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAccessoryByObjectTypeAndNumServlet</servlet-name>
    <url-pattern>/servlet/QueryAccessoryByObjectTypeAndNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AudienceCourseServlet</servlet-name>
    <url-pattern>/servlet/AudienceCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCourseByCourseNumServlet</servlet-name>
    <url-pattern>/servlet/QueryCourseByCourseNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/servlet/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChapterServlet</servlet-name>
    <url-pattern>/servlet/AddChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishMatchServlet</servlet-name>
    <url-pattern>/servlet/PublishMatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMatchByUserNumServlet</servlet-name>
    <url-pattern>/servlet/QueryMatchByUserNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMatchByMatchNumServlet</servlet-name>
    <url-pattern>/servlet/QueryMatchByMatchNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMatchServlet</servlet-name>
    <url-pattern>/servlet/UpdateMatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/servlet/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewAwardServlet</servlet-name>
    <url-pattern>/servlet/AddNewAwardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GivenAwardServlet</servlet-name>
    <url-pattern>/servlet/GivenAwardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StopMatchServlet</servlet-name>
    <url-pattern>/servlet/StopMatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttendCourseServlet</servlet-name>
    <url-pattern>/servlet/AttendCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAttendCourseServlet</servlet-name>
    <url-pattern>/servlet/DeleteAttendCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PollVoteServlet</servlet-name>
    <url-pattern>/servlet/PollVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRegisterByMatchNumServlet</servlet-name>
    <url-pattern>/servlet/QueryRegisterByMatchNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllCourseServlet</servlet-name>
    <url-pattern>/servlet/QueryAllCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllMatchesServlet</servlet-name>
    <url-pattern>/servlet/QueryAllMatchesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadVideoServlet</servlet-name>
    <url-pattern>/servlet/UploadVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryChapterByChapterNumServlet</servlet-name>
    <url-pattern>/servlet/QueryChapterByChapterNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryDownloadServert</servlet-name>
    <url-pattern>/servlet/QueryDownloadServert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMatchAwardServlet</servlet-name>
    <url-pattern>/servlet/QueryMatchAwardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAlreadyRegisterMatchesServlet</servlet-name>
    <url-pattern>/servlet/QueryAlreadyRegisterMatchesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCourseServlet</servlet-name>
    <url-pattern>/servlet/CheckCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckChapterServlet</servlet-name>
    <url-pattern>/servlet/CheckChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckMatchServlet</servlet-name>
    <url-pattern>/servlet/CheckMatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUnCheckedCoursesServlet</servlet-name>
    <url-pattern>/servlet/QueryUnCheckedCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUnCheckedMatchesServlet</servlet-name>
    <url-pattern>/servlet/QueryUnCheckedMatchesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUnCheckedChaptersServlet</servlet-name>
    <url-pattern>/servlet/QueryUnCheckedChaptersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserTypeServlet</servlet-name>
    <url-pattern>/servlet/ChangeUserTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllUserServlet</servlet-name>
    <url-pattern>/servlet/QueryAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAccessoryServlet</servlet-name>
    <url-pattern>/servlet/ListAccessoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUnsureUserServlet</servlet-name>
    <url-pattern>/servlet/QueryUnsureUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUnsureCourseServlet</servlet-name>
    <url-pattern>/servlet/QueryUnsureCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUnsureMatchServlet</servlet-name>
    <url-pattern>/servlet/QueryUnsureMatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMyAttendsServlet</servlet-name>
    <url-pattern>/servlet/ShowMyAttendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showChooseChapterServlet</servlet-name>
    <url-pattern>/servlet/showChooseChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logOutServlet</servlet-name>
    <url-pattern>/servlet/logOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>haveAttendedServlet</servlet-name>
    <url-pattern>/servlet/haveAttendedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCourseBySubServlet</servlet-name>
    <url-pattern>/servlet/QueryCourseBySubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllSubjectsServlet</servlet-name>
    <url-pattern>/servlet/ShowAllSubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCourseBySubNameServlet</servlet-name>
    <url-pattern>/servlet/QueryCourseBySubNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showIndexSubjectServlet</servlet-name>
    <url-pattern>/servlet/showIndexSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>temporaryUploadifyServlet</servlet-name>
    <url-pattern>/servlet/temporaryUploadifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>saveAccessoryServlet</servlet-name>
    <url-pattern>/servlet/saveAccessoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>isMyCourseServlet</servlet-name>
    <url-pattern>/servlet/isMyCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showChildSubjectServlet</servlet-name>
    <url-pattern>/servlet/showChildSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUserPicServlet</servlet-name>
    <url-pattern>/servlet/updateUserPicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showReplyServlet</servlet-name>
    <url-pattern>/servlet/showReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <url-pattern>/servlet/QueryUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>isMyMatchServlet</servlet-name>
    <url-pattern>/servlet/isMyMatchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryAwardByIdServlet</servlet-name>
    <url-pattern>/servlet/queryAwardByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showHotCourseServlet</servlet-name>
    <url-pattern>/servlet/showHotCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryTheNewestMatchesServlet</servlet-name>
    <url-pattern>/servlet/queryTheNewestMatchesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryPopularCoursesServlet</servlet-name>
    <url-pattern>/servlet/queryPopularCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryNewestCoursesServlet</servlet-name>
    <url-pattern>/servlet/queryNewestCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryMatchByMatchTempServlet</servlet-name>
    <url-pattern>/servlet/queryMatchByMatchTempServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>isPollVoteServlet</servlet-name>
    <url-pattern>/servlet/isPollVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryHistoryAwardByCourseNumServlet</servlet-name>
    <url-pattern>/servlet/queryHistoryAwardByCourseNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadMatchImgServlet</servlet-name>
    <url-pattern>/servlet/uploadMatchImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadCourseImgServlet</servlet-name>
    <url-pattern>/servlet/uploadCourseImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/servlet/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mainActivity.jsp</welcome-file>
  </welcome-file-list>
</web-app>